html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: beige;
}

.title {
    justify-content: center;
    font-size: xx-large;
    color: red;
    background-color: black;
    width: calc(45vw + 200px);
    padding: 20px;
}

.instructions {
    width: 25vw;
    font-size: large;
}

.button {
    font-size: large;
}

.hide {
    display: none;
}


